body[theme="classic"] {
  --bgcolor: #101010;
  --txt-color: white;
  --text-shadow: 0 0 30px white;
  
}
body[theme="jmwv4"] {
  --bgcolor: linear-gradient(145deg, #1a1a1a, #080808);
  --txt-color: yellow;
  --text-shadow: 0 0 30px yellow;
}